*.a
*.exe
*.o
*.d
*/lib
*/objs
Testing/Build
Testing/CppUTest/CppUTest_tests
Testing/CppUTest/CppUTestExt_tests
Testing/CppUTest/config.h
Testing/CppUTest/config.status
Testing/CppUTest/cpputest.pc
Testing/CppUTest/filename.map.txt
Testing/CppUTest/libtool
Testing/CppUTest/stamp-h1
Testing/CppUTest/objs
Testing/CppUTest/config.log
Testing/CppUTest/lib/.dirstamp
Testing/CppUTest/.deps
Testing/CppUTest/lib/NoteOnVisualStudio.txt
Testing/CppUTest/Makefile
Testing/CppUTest/autom4te.cache/
Testing/CppUTest/CppUTestExtTests
Testing/CppUTest/CppUTestTests
.DS_Store
